:root {
        --brand-color: #212121;
        --accent-color: #2196f3;

        }

/*BASE*/
body {font-family: 'Roboto', sans-serif;
        color: var(--brand-color);
        letter-spacing: 0.03em;
        }

/*IU*/
.header-webstudio {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.18;
        }

span .header-studio {font-family: 'Raleway', sans-serif; font-weight: 700px;}
.contacts {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.20;
        }

.footer-webstudio {font-family: 'Raleway', sans-serif;
text-decoration: none;}
span .footer-studio {font-family: 'Raleway', sans-serif;}

.header-webstudio {color: #2196f3;
text-decoration: none;}
.header-webstudio .header-studio {color: #000000;}
.header-webstudio:hover {color: #188ce8;}
.header-webstudio .header-studio:hover {color: #188ce8;}

.marker {list-style: none;}



.link {color: #212121;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.20;
        text-decoration: none;
       }
.link:hover {color: #2196f3;}
.link:focus {color: #2196f3;}

.current {color:var(--accent-color);}

.current-portfolio:hover {background: #2196f3; color: #ffffff;}
.current-portfolio:focus {background: #2196f3; color: #ffffff;}


.hero {background-color: #2f303a;
        }

.hero-title {color: #ffffff;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        }

.name-button {color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        }

.title-text {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
       }

.team {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        }

 .title-contents {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        }

.content {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.67;
        text-decoration: none;}

.job {font-size: 16px;
        line-height: 1.17;
        }

/* buttons*/
.button { background-color: #2196f3; 
        width: 200px;
        height: 50px;
        border-radius: 4px; 
        
        box-shadow: 0px 4px 4px rgba(0, g0reen, bl0ue, 0.15);}
.button:hover {background-color: #188ce8;}


.cards-portfolio {background-color: #f5f4fa;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.53;
        border-radius: 4px;
        font-family: inherit;
       }
.cards-portfolio:hover {background-color: #2196f3;}
.name_button-port {color: #000000;}

.contacts {color: #757575;
        text-decoration: none;
}
.contacts:hover {color: #2196f3;}
.contacts:focus {color: #2196f3;}

.footer {background-color: #2f303a;}

.contact-footer {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.68;
        text-decoration: none;
        color: rgba(225, 225, 225, 0.6);
        }
.contact-adress {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.68;
                        text-decoration: none;
                        color: #ffffff;
                }

  .footer-webstudio {color: #2196f3;}
  .footer-webstudio .studio {color: #fff;}
  .footer-webstudio:hover {color: #188ce8;}
  .footer-webstudio .studio:hover {color: #188ce8;}

.footer-webstudio {font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.17;
}

.name-project {
        
        font-size: 18px;
        line-height: 2.00;
        }

.job {
        font-size: 16px;
        line-height: 1.86;
        }